body {
    /*background-image: url("/assets/images/background.jpg");*/
    background-attachment: fixed;
    background-position: center;
}

nav h1 {
    text-align: center;
    font-weight: bold;
    background-color: hsla(160, 100%, 90%, 0.75);
    border-bottom: 4px double black;
}

.nav li a {
    color: hsla(180, 100%, 27%, 1);
    font-weight: 600;
    background-color: hsla(160, 100%, 90%, 0.5);
}

.nav li a:hover {
    color: #333;
    background-color: hsla(180, 100%, 27%, 0.5);
    animation: shift 0.5s;
}

@keyframes shift {
    0%, 100% {
        transform: translate(0,0);
    }
    75% {
        transform: translate(5px,0);
    }
}

.jumbotron {
    /*background-color: hsla(180, 100%, 27%, 0.5);*/
    background-color: hsla(160, 100%, 90%, 1);
}

.main {
    background-color: hsla(0, 0%, 80%, 0.75);
    padding: 0.5rem 2em;
}

.btn-default {
    background: hsla(180, 100%, 30%, 0.75);
    border-color: hsla(180, 100%, 30%, 0.75);
    color: white;
    text-shadow: none;
    border-radius: 20px;
}

.btn-default:hover {
    background: hsla(180, 100%, 27%, 1);
    border-color: hsla(180, 100%, 27%, 1);
    color: white;
    box-shadow: none;
    animation: btnEnlarge 0.75s;
}

@keyframes btnEnlarge {
    0%, 100% {
        transform: translate(0,0);
    }
    50% {
        transform: scale(1, 1.1);
    }
}

a {
    color: hsla(180, 100%, 30%, 0.75);
}
a:hover {
    color: hsla(180, 100%, 27%, 1);
}